body {
	background: #799dfe;
}

.main-content {
	margin-top: 100px;
	height: 500px;
	background: #CCC;
}

.wrapper {
	width: 1000px;
	margin: 0 auto;
	position: relative;
}

/* HEAD STYLING */

.p-head {
	width: 250px;
	height: 250px;
	background: #fae721;
	margin: 0 auto;
	position: relative;
	z-index: 100;
}

.head-top {
	width: 198px;
	height: 198px;
	background: #fae721;
	margin: 0 auto;
	position: relative;
	border: 1px solid #000;
	z-index: 50;
	border-radius: 100px 100px 0px 0px;
}

.head-top .hide-bottom-border {
	position: absolute;
	left: -1px;
	bottom: -1px;
	width: 200px;
	height: 77px;
	background: #fae721;
	z-index: 1;
}

.head-top .head-content {
	position: relative;
	float: left;
	width: 100%;
	height: 135px;
	background: blue;
	margin-top: 70px;
	z-index: 10;
}

.head-bottom {
	width: 230px;
	height: 130px;
	background: #fae721;
	position: absolute;
	border: 1px solid #000;
	bottom: 0;
	left: 9px;
	z-index: 45;
	border-radius: 600px 600px 2000px 2000px;
}


/* BODY STYLING */

/* TAIL STYLING */

/* FEET STYLING */